<?xml version="1.0"?>
<model>
  <name>Uvify IFO-S Base</name>
  <version>1.0</version>
  <sdf version='1.4'>ifo_base.sdf</sdf>

  <author>
   <name>Charles Cossette, Lorenz Meier and Thomas Gubler</name>
   <email>charles.cossette@mail.mcgill.ca</email>
  </author>

  <description>
    This is a customized model of the Uvify IFO-S quadrotor, derived from the 
    3DR Iris quadrotor. The physical properties are from the Iris quadrotor, but 
    the sensor suite is customized to match the IFO-S.
  </description>
</model>
