[submodule "realsense_gazebo_plugin"]
	path = realsense_gazebo_plugin
	url = https://github.com/CharlesCossette/realsense_gazebo_plugin.git
[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
