<?xml version="1.0"?>
<launch>
    <!-- MAIN ifo_gazebo SITL LAUNCH FILE  -->
    <!-- Posix SITL environment launch script -->
    <!-- launches PX4 SITL, Gazebo environment, and spawns vehicle -->

    <!-- starting vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/> 
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle_name" default="ifo001"/>

    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <arg name="emulate_mocap" default="true"/>

    <!-- =================================================================== -->
    <!-- Start Gazebo with an empty world -->
    <include file="$(find ifo_gazebo)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

    <!-- Mocap VRPN Emulation -->
    <group if="$(arg emulate_mocap)">
        <!-- Custom node to emulate exact output of vrpn_client_node 
        http://wiki.ros.org/vrpn_client_ros -->
        <node name="vrpn_client_node" pkg="ifo_gazebo" type="mocap_gazebo_node.py"/>
    </group>

    <include file="$(find ifo_gazebo)/launch/ifo_spawn_single.launch">
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
        <arg name="z" default="$(arg z)"/>
        <arg name="R" default="$(arg R)"/> 
        <arg name="P" default="$(arg P)"/>
        <arg name="Y" default="$(arg Y)"/>
        <arg name="vehicle_name" default="$(arg vehicle_name)"/>
    </include>

</launch>







  