<?xml version="1.0"?>
<launch>    
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="emulate_mocap" default="true"/>
    
    <!-- Start Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- Mocap VRPN Emulation -->
    <group if="$(arg emulate_mocap)">
        <!-- Custom node to emulate exact output of vrpn_client_node 
        http://wiki.ros.org/vrpn_client_ros -->
        <node name="vrpn_client_node" pkg="ifo_gazebo" type="mocap_gazebo_node.py"/>
    </group>
    
    <!-- ================================================================== -->
    <!-- Spawn vehicles-->
    <!-- Spawn vehicle -->
    <include file="$(find ifo_gazebo)/launch/ifo_spawn_single.launch">
        <arg name="interactive" value="false"/>
    </include>

    

    
</launch>