<?xml version="1.0"?>
<model>
  <name>Uvify IFO-S (lite) </name>
  <version>1.0</version>
  <sdf version='1.5'>ifo_lite.sdf</sdf>

  <author>
   <name>Charles C. Cossette</name>
   <email>charles.cossette@mail.mcgill.ca</email>
  </author>

  <description>
    Model of the Uvify IFO-S without cameras.
  </description>
</model>
